<h1>Редактирование лекции {{course.title}}</h1>

<form action="/courses/edit" method="POST" class="course-form">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required value="{{course.title}}">
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название"></span>
    </div>
   {{!--  <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required value="{{course.price}}">
        <label for="price">Цена курса</label>
        <span class="helper-text" data-error="Введите цену"></span>
    </div>
    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required value="{{course.img}}">
        <label for="img">Картинка курса</label>
        <span class="helper-text" data-error="Вставьте картинку"></span>
    </div> --}}

     <div class="row">
        <div class="input-field">
            {{!--  <input id="img" name="img" type="text" class="validate" required value="{{course.img}}"> --}}
            <textarea id="img" name="img" type="text" class="materialize-textarea" required>{{course.img}}</textarea> 
            <label for="img">Textarea</label>
        </div>
    </div>
      <div class="input-field">
        <input id="link" name="link" type="text" class="validate" value="{{course.link}}" >
        <label for="link">Ссылка на видео материал</label>
        <span class="helper-text" data-error="Добавьте ссылку"></span>
    </div>

    <input type="hidden" name="id" value="{{course.id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button type="submit" class="btn btn-primary">Редактировать курс</button>
</form>

<form action="/courses/remove" method="POST">
    <input type="hidden" name="id" value="{{course.id}}">
     <input type="hidden" name="_csrf" value="{{csrf}}">
    <button class="btn red">Удалить курс</button>
</form>