<div style="display: flex;">
    <h1 style="margin-left: 50px;">Лекции</h1>
    {{#if isAuth}}
    <form action="/add">
        <button class='btn' style="margin-left: 670px; width:60px; height:50px; margin-top: 60px;">+</button>
    </form>
    {{/if}}
</div>
<div style="" class="her">

    {{#if courses.length}}
    {{#each courses}}
    <div class="roww">
        <div class="col s6 ">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{title}}</span>
                </div>
                <div class="card-action actions">
                    <a href="/courses/{{id}}" target="_blank">Открыть курс</a>
                    {{#if @root.isAuth}}
                    <a href="/courses/{{id}}/edit?allow=true">Редактировать</a>
                    <form action="/card/add" method="POST">
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                    </form>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
    <p>Kursov net</p>
    {{/if}}

</div>